<div class="card">
  <svg class="strip-banner" width="40" height="60">
    <polygon points="10,0, 10,60, 25,45, 40,60, 40,0" style="fill:var(--color-titlered)">
    </svg>
    <div class="padded-content">
      <h2>Miss</h2>
      <div class="descriptions">
        <div class="flavortext">
          <p>Your arrow pierces the target’s body.</p>
        </div>
        <div><hr/></div>
        <div class="effecttext">
          <p>5 piercing damage.</p>
        </div>
      </div>
    </div>
  </div>
