<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="cards.css"></link>
    <script type="text/plain" id="card-template">
      <div class="card">
        <svg class="strip-banner" width="40" height="60">
          <polygon points="10,0, 10,60, 25,45, 40,60, 40,0" style="fill:var(--color-titlered)">
        </svg>
        <div class="padded-content">
          <div class="titlecontainer"><h2>{{title}}</h2></div>
          <div class="descriptions">
            <div class="flavortext">
              <p>{{flavor}}</p>
            </div>
            <div><hr/></div>
            <div class="effecttext">
              <p>{{effect}}</p>
            </div>
          </div>
        </div>
      </div>
    </script>
  </head>
  <body>
    <div class="card-layout">
      <div id="end-card-section"></div>
    </div>
  </body>
  <script>
    function addCard(title, flavor, effect, number) {
      var cardTemplate = document.getElementById("card-template").innerHTML;
      var cardHTML = cardTemplate
        .replace("{{title}}", title)
        .replace("{{flavor}}", flavor)
        .replace("{{effect}}", effect);
      for (let ii = 0; ii < number; ++ii)
        document.getElementById("end-card-section").insertAdjacentHTML("beforebegin", cardHTML);
    }
    addCard("Miss", "Your arrow flies wide", "No effect", 5);
    addCard("Collateral", "You hit an unintended target", "You hit a random different target within 5 feet of the original (if any). Draw a new damage card for this target.", 1);
    addCard("Hit", "Your arrow pierces the target's body", "5 piercing damage", 2);
    addCard("Hit", "Your arrow pierces the target's body", "6 piercing damage", 2);
    addCard("Hit", "Your arrow pierces the target's body", "7 piercing damage", 2);
    addCard("Headshot", "You hit the target right in the head!", "15 piercing damage", 1);
    addCard("Shatter Kneecap", "Your arrow hits the target’s kneecap, fracturing it into many pieces.", "Movement speed reduced by 10 (healing ends). DC 13 con save or fall prone. 3 piercing damage", 1);
  </script>
</html>
