:root {
  --color-bgtan:#f7f2e5;
  --color-titlered:#58180D;
  --color-undergold:#C9AD6A;
  --color-uppergold:#B89A67;
  --card-width:2.5in;
  --card-height:3.5in;
  --card-border-radius:0.1in;
  --card-text-padding:0.2in;
  --card-inner-width: calc(var(--card-width) - var(--card-text-padding)*2);
  --card-inner-height: calc(var(--card-height) - var(--card-text-padding)*2);
  --card-text-top:0.6in;
  --screen-card-spacing:0.1in;
  --print-card-spacing:0.1in;
}

@page {
  margin:0.1in;
}
/*
\definecolor{puregold}{HTML}{E69A28}	%e.g. used for top line in newer monsterbox
\definecolor{monstertan}{HTML}{FDF1DC}	%e.g. used for newer monsterblock
\definecolor{monstertandark}{HTML}{F0DBB5}	%e.g. used for older monsterbox
\definecolor{commentgreen}{HTML}{E0E5C1} % e.g. used in table and green commentbox
\definecolor{itemtablepink}{HTML}{E9CDC2} % e.g. used in item tables instead of the green
\definecolor{rulered}{HTML}{9C2B1B}
*/

body {
  font-family: serif;
  font-size: 10pt;
  /*font-family: sans-serif;*/
}


.titlecontainer {
  position: absolute;
  display: flex;
  left: 0.5in;
  top:0;
  height:45pt;
  max-width:1.8in;
  align-items:center;
}
h2 {
  color: var(--color-titlered);
  font-size: 14.4pt;
  font-variant:small-caps;
  font-weight:400;
  margin: 0;
  padding: 0;
  position: relative;
}

svg {
  position: absolute;
}

.card {
  height: var(--card-height);
  width: var(--card-width);
  background-image: url("imgs/bg-a4-even.jpg");
  border-radius: var(--card-border-radius);
  border: 1px solid darkgray;
  overflow: hidden;
  position: relative;
}

.padded-content {
  padding: var(--card-text-padding);
  position: absolute;
  width: var(--card-inner-width);
  height: var(--card-inner-height);
}

.descriptions {
  position: absolute;
  width: var(--card-inner-width);
  height: calc(var(--card-height) - var(--card-text-padding) - var(--card-text-top));
  top: var(--card-text-top);
  display:grid;
  grid-template-columns: 100%;
  align-items: center;
}

.flavortext {
  position: relative;
  font-style: italic;
  width:90%;
  left:5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effecttext {
  position: relative;
  width:90%;
  left:5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  /*grid-template-columns: var(--card-width) var(--card-width) var(--card-width);*/
  grid-column-gap: var(--screen-card-spacing);
  grid-row-gap: var(--screen-card-spacing);
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
  }

  body {
    font-family: serif;
  }

  .screen-only {
    display: none;
  }

  .card-layout {
    grid-column-gap: var(--print-card-spacing);
    grid-row-gap: var(--print-card-spacing);
  }
}
